@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky.logo
{
    color: #111;

}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a
{
    color: #111;
}

section
{
    padding: 100px;
}

.banner
{
    position: relative;
    min-height: 100%;
    background: url(banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .textBx
{
    padding-right: 60px;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #00008b;
    display: inline-block;
    color:#fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.p50
{
    max-width: 700px;
    max-height: 700px;
}

.about
{
    position: relative;
    min-height: 100%;
}

.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
}
.content
{
    
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    
    padding-right: 50px;
}
.contentBx h3
{
    margin-top: 100px;
    font-size: 24px;
    margin-bottom: 10px;
}
.w50
{
    margin-top: 100px;
    min-width: 50%;
}
img
{
    max-width: 100%;
}
.works
{
    width:100%;
    height:100%;
    background: #111;
}
.heading.white
{
    color: #fff;
}
.works .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.works .content .worksBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;     
}

.works .content .worksBx:hover
{
    background: #00008b;
}

.works .content .worksBx img
{
    max-width: 80px;
    filter: invert(1);
}
.works .content .worksBx a 
{
    color: #fff;
    
}

.works .content .worksBx a h2
{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blogs
{
    min-height: 40vh;
}

.blogs .content
{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogs .content .worksBx
{
    width: 100%;
    padding: 20px;
}

.blogs .content .worksBx img
{

    max-width: 100%;
}

.blogs .content .worksBx a
{
    position: relative;
    color:#111;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.blogs .content .worksBx a:hover
{
    color:#00008b;
}
footer{
    background-color: #111;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contacts
{
    background: #111;
}
.contacts .contactBx h3
{
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    line-height: 1.5em;
}

.contacts .contactBx
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 200;
    line-height: 1.5em;
    
}

.contacts .social-menu ul {
    float: right;
    display: flex;
    margin-top: 30px;

}
.contacts .social-menu ul li {
    list-style: none;

    margin: 0 30px;
}
.contacts .social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.contacts .social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.contacts .social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

/*Responsive*/
@media(max-width:991px)
{
    header, header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }

    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width:100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .menu.active
    {
        left: 0;
    }
    header ul li a
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active
    {
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle
    {
        filter: invert(1);
    }

    section 
    {
        padding: 100px 50px;
    }

    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2 
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .p50
{
    max-width: 300px;
    max-height: 300px;
}

.heading h2
{
    
    font-size: 24px;
}
.contactBx h3 
{
    font-size: 20px;
}
.content
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.w50
{
    margin-bottom: 20px;
    min-width: 50%;
}


.works .content .worksBx
{

    width: 100%;
    padding: 10px;
}


.blogs .content .worksBx img
{

    max-height: 150px;
    max-width: 150px;
}





}